table, td, th{

    border-bottom: 1px solid;
    border-collapse: collapse;
    border-color: rgb(201, 201, 201);
    font-size: 20px;
    

}
div{
    width: 70%;
    margin: auto;
}


 /* table{
    width: 70%;
    font-size: 20px;
    
    background-color: rgb(255, 255, 255); 

    
}  */

th{

    background-color: blue;
    color: white;
    padding: 30px;
}

td{

    padding: 20px;
    
}

tr:hover{
    background-color: darkgrey;
}

span{
    color: green;
}

button{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 6px;
}


