table, th, td{
    border-top: 1px solid;
    border-collapse: collapse;
    border-color: rgb(221, 218, 218);
    padding: 20px 70px;
    
}

th{
    background-color: rgb(82, 136, 236);
    color: white;
    font-size: 20px;

}

caption{
    background-color: orange;
    padding: 10px;
    font-size: 15px;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    color: white;
}

table{
    margin: auto;
    
}

/* div{
    margin-top: 40px;
} */
